body {
  margin:0;
  padding: 0;
}

#root {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* NavBar */
.nav-bar{
    background-color: rgb(255, 255, 255);
}

.nav-bar .nav-link,
.nav-bar {
    color: rgb(0, 0, 0);
}

.nav-bar .nav-link:hover {
  border-bottom: 2px solid rgb(132, 227, 188);
}

.navbar-collapse {
    text-align: center;
  }


/* Homepage */

.home-page {
    height: 90vh; 
    width: 100vw; 
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative; 
    z-index: 1;       
  }

  #home-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
  }

  .home-page h1 {
    font-size: 5rem;
    font-family: Montserrat;
  }
  
  .home-page p {
    padding: 10px;
    margin-bottom: 1rem; 
    font-size: 2rem;
  }


  #linkedin-icon {
    margin: 5px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: #000000;
    
  }

  #github-icon {
    margin: 5px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: #000000;
  }



/* IceBreaker */
  .ice-breaker-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2rem;
  }

  .ice-breaker-container button {
    margin-top: 5px;
    background-color: rgb(132, 227, 188);
    color: black;
    border-color: black;
  }

  .card-text {
    color: black;
  }
  
  .card {
    transition: transform 0.5s ease; 
    padding: 15px;
  }

  
  .card:hover {
    transform: scale(1.05);
  }

  .icons {
    margin-bottom: 20px;
  }


/* About Me */
.about-me-container {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

 #profile-image {
    width: 250px; 
    margin-bottom: 30px;
    border: 2px solid rgb(0, 0, 0); 
  }

.about-me-container h1 {
  color: rgb(0, 0, 0);
  padding: 3rem;
  margin-bottom: 0px;
}

.about-me-text {
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 3rem;
}

#my-experience-button {
  margin-bottom: 1rem;
}


/* My Experience */

.my-experience-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.experience-content {
  width: 80%; 
}

.experience-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experience-row {
  margin-bottom: 20px; 
  border-bottom: 2px solid #ccc; 
  padding-bottom: 20px; 
}

.experience-year {
  font-size: 2.5rem; 
  font-weight: bold; 
  color: #333;
  text-align: center; 
}

#experience-page-title {
  margin-top: 3rem
}

#my-resume-text {
  margin-right: 1rem;
  color: #555;
  font-weight: 300;
  text-decoration: none;
}

#my-resume-text:hover,
#resume-link:hover {
  border-bottom: 2px solid rgb(132, 227, 188);
}

#resume-link {
  color: #555;
  font-weight: 300;
}

.resume-links {
  margin-bottom: 5rem;
}

.experience-title {
  font-size: 1.8rem;
  font-weight: 200;
  color: #333; 
  text-align: left;
}

.experience-institution {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left; 
}

#description-button{
  font-size: 1rem;
  color: #555;
  text-decoration: none; 
  padding: 0;
}

#description-button:hover {
  border-bottom: 2px solid rgb(132, 227, 188);
}

.experience-description {
  font-size: 1rem;
  color: #555; 
  text-align: left;
}

#my-projects-button {
  margin-left: 2rem;
  margin-top: 3rem;
}

#full-history-button {
  background-color: rgb(132, 227, 188);
  color: black;
  border-color: black;
  margin-top: 3rem;
}


/* My Projects */

.my-projects-container {
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

#projects-title {
  margin-top: 2rem;
  padding: 1rem;
}

.project-card {
  transform: scale(0.55); 
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slick-center .project-card {
  transform: scale(0.80); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-slide {
  padding: 0 10px;
  width: 70%;
}

.slick-arrow {
  z-index: 1;
  margin: 3rem;
}

.button-group {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.card-body {
  max-height: 400px; 
  overflow-y: auto;
  transition: max-height 0.3s ease; 
}

.project-card.expanded .card-body {
  max-height: 400px; 
}

#read-more-button {
  background-color: rgb(132, 227, 188);
  color: black;
  border-color: black;
  margin-right: 5px;
}

#github-button {
  background-color: transparent;
  color: black;
  border-color: white;
  
}



@media (max-width: 1200px) {
  .about-me-text {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .experience-title {
    font-size: 1.4rem;
  }

  .experience-institution {
    font-size: 1.1rem;
  }
}

@media (max-width: 767px) {
  #profile-image {
    width: 200px;
  }

  .experience-text {
    align-items: center;
  }
}

@media (max-width: 481px) {
  #profile-image {
    width: 200px;
  }

  .experience-content {
    width: 100%;
  }

  .about-me-text {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}