body {
  margin:0;
  padding: 0;
}

/* NavBar */
.nav-bar{
    background-color: black;
}

.nav-bar .nav-link,
.nav-bar .logo {
    color: white;
}
.navbar-collapse {
    text-align: center;
  }


/* Homepage */

.banner {
    height: 100vh; 
    width: 100vw; 
    background-color: black; 
    color: rgb(41, 183, 176);
    display: flex; 
    align-items: center; 
  }
  
  #profile-image {
    max-width: 100%; 
    height: auto; 
    margin-right: 10px;
    
  }
  
  .banner h1,
  .banner h2,
  .banner p {
    padding: 10px; 
  }

  .banner button {
    color: rgb(224, 235, 243);
    margin-top: 15px;
    border-color: rgb(48, 228, 213);
  }

  .banner h1 {
    font-size: 5rem;
  }


/* IceBreaker */
  .ice-breaker-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin-bottom: 2rem;
  }

  .ice-breaker-container button {
    margin-top: 5px;
    background-color: rgb(48, 228, 213);
    color: black;
    border-color: black;
  }

  .card-text {
    color: black;
  }
  
  .card {
    transition: transform 0.5s ease; /* Smooth transition for hover effect */
    padding: 15px;
  }

  
  .card:hover {
    transform: scale(1.05); /* Slight zoom effect when hovering over cards */
  }

  .icons {
    margin-bottom: 20px;
  }


/* About Me */
.about-me-container {
  background-color: rgb(0, 0, 0);
  text-align: center;
  height: 100vh; 
}


.about-me-container h1 {
  color: white;
  padding: 3rem;
  margin-bottom: 2rem;
}

.about-me-text {
  color: rgb(233, 242, 240);
  padding: 10px;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 3rem;
}


/* My Experience */

.my-experience-container {
  min-height: 100vh; /* Full height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.experience-content {
  width: 80%; /* Adjust width as needed */
}

.experience-row {
  margin-bottom: 20px; /* Space between each experience */
  border-bottom: 2px solid #ccc; /* Light line under each row */
  padding-bottom: 20px; /* Padding to give space between content and border */
}

.experience-row:last-child {
  border-bottom: none; /* Remove the border from the last row */
}

.experience-year {
  font-size: 3rem; /* Large year text */
  font-weight: bold; /* Bold year */
  color: #333; /* Customize color */
  text-align: center; /* Align year text to the right */
}

.experience-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left; /* Align title to the left */
}

.experience-institution {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left; /* Align title to the left */
}

.experience-description {
  font-size: 1rem;
  color: #555; /* Light color for description */
  text-align: left; /* Align description to the left */
}
