body {
  margin:0;
  padding: 0;
}

/* NavBar */
.nav-bar{
    background-color: black;
}

.nav-bar .nav-link,
.nav-bar .logo {
    color: white;
}
.navbar-collapse {
    text-align: center;
  }


/* Homepage */

.banner {
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
    background-color: black; /* Light background color */
    color: rgb(233, 242, 240);
    display: flex; /* Enable flexbox for proper alignment */
    align-items: center; /* Center vertically */
  }
  
  #profile-image {
    max-width: 100%; /* Ensure the image scales properly */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 10px;
    
  }
  
  /* Optional: add spacing to the text */
  .banner h1,
  .banner h2,
  .banner p {
    padding: 10px; /* Optional: add padding for spacing */
  }

  .banner button {
    color: rgb(224, 235, 243);
    margin-top: 15px;
    border-color: rgb(48, 228, 213);
  }

  .banner h1 {
    font-size: 5rem;
  }


/* IceBreaker */
  .ice-breaker-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
  }

  .card-text {
    color: black;
  }
  
  .card {
    transition: transform 0.5s ease; /* Smooth transition for hover effect */
    padding: 15px;
  }

  
  .card:hover {
    transform: scale(1.05); /* Slight zoom effect when hovering over cards */
  }

  .icons {
    margin-bottom: 20px;
  }


/* About Me */
.about-me-container {
  background-color: rgb(0, 0, 0);
  text-align: center;
  height: 100vh; 
}


.about-me-container h1 {
  color: white;
  padding: 3rem;
  margin-bottom: 2rem;
}

.about-me-text {
  color: rgb(233, 242, 240);
  padding: 10px;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 4rem;
}